:root {
    --md-text-font: "Noto Sans"; 
    --md-code-font: "Anonymous Pro";
    --md-primary-fg-color:        #011e41;
    --md-primary-fg-color--light: #bac4d4;
    --md-primary-fg-color--dark:  #153f70;
    --md-accent-fg-color:                #17ff88;
    --md-accent-fg-color--transparent:   #17ff871f;
    --md-accent-bg-color:                #f4f6f9;
    --md-accent-bg-color--light:         #e4e8ed2a;
  }
  a {
    text-decoration: underline;
}